body {
    background-color: pink;
}

#kolory-pred{
    background-color: bisque;
}

#kolory-hex{
    background-color: rgba(255, 140, 118, 0.47);
}


#kolory-rgb{
    background-color: rgb(220, 166, 232);
}

#kolory-rgba{
    background-color: rgba(220, 166, 232, 0.6);
}

.color-box {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}